.body {
    margin: 0px;
}
div.coloredTable {
    border: 1px solid #AAAAAA;
    background-color: #FFFFFF;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
.divTable.coloredTable .divTableCell, .divTableCellSmall, .divTable.coloredTable .divTableHead {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
}
.divTable.coloredTable .divTableBody .divTableCell, .divTableCellSmall {
    font-size: 13px;
}
.divTable.coloredTable .divTableRow:nth-child(odd) {
    background: #F3F3F3;
}

.divTable{ display: table; }
.divTableRow { display: table-row; }
.divTableHeading { display: table-header-group;}
.divTableCell, .divTableHead, .divTableCellSmall { display: table-cell;}
.divTableHeading { display: table-header-group;}
.divTableFoot { display: table-footer-group;}
.divTableBody { display: table-row-group;}

.divTableCell {
    max-width: 0px;
}
.divTableCellSmall {
    width: 4em;
}
.mainMenuButton {
    width: 100%;
    height: 3em;
    background-color: #CCCCCC;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.button_blue {
    background-color: white;
    color: black;
    border: 2px solid #DDDFEA;
}
.button_blue:hover {
    background-color: #DDDFEA;
    color: white;
}
.button_blue:active {
    background-color: #DDDFEA;
    box-shadow: 0 5px #AAA;
    transform: translateY(1px);
}
/* .button_blue:focus {
    background-color: #DDDFEA;
} */
.plusButton {
    width: 2em;
    height: 2em;
}
.tableInput {
    width: 99%;
}
.centerItem {
    width: 95%;
    left: 2%;
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%);
}
.fullHeight {
    height: 100vh;
}
.leftCell {
    width: 25%; 
    position: relative;
    background: #F3F3F3;
}
.rightCell {
    position: relative;
    overflow: auto;
}
.mainTable {
    height: 100vh;
    background-color: white;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
.descInput {
    max-width: 95%;
    min-width: 95%;
    width: 95%;
    height: 20em;
    border: 1px solid #AAAAAA;
}
.nameInput {
    width: 95%;
}
.input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #AAAAAA;
    box-sizing: border-box;
}
.input:focus {
    border-bottom: 1px solid #000000;
}
.settingsHeader {
    display: inline;
    margin-right: 5px;
    margin-left: 5px;
}
.inline {
    display: inline;
}
.bottomButtons {
    position: absolute; 
    bottom: 1px;
    right: 1px;
}
.bottomButton {
    float:left;
    width:100px;
    height: 2em;
}
.center {
    text-align: center;
}
*:focus {
    outline: none;
}


/* input[type="checkbox"]{
    width: 2em;
    height: 2em;
} */
